$sidebar-width: 250px;
$playlist-height: 180px;

body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

/* if wide, show thumbnail on the left and info on the right */
track-detail.wide .thumbnail {
  display: inline-flex;
  border: none;
  box-shadow: none;
  width: inherit;
}

track-detail.wide .title {
  font-weight: bold;
}
track-detail.wide .duration {
  font-size: inherit;
}

/* hide duration if not wide */
track-detail .duration {
  font-size: 0px;
}

/* track title should always be on one line */
track-detail .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* TODO: make it responsive... */
track-detail .thumbnail {
  width: 100px;
}

track-detail.selected .thumbnail {
  background-color: #89A8B3;
}

/* Side bar  bottom */
#sidebar {
  width: $sidebar-width;
  height: 100%;
}
#sidebar_bottom {
  position: absolute;
  display: inline-block;
  bottom: 0;
}

/* playlist */
#playlist {
  margin-left: $sidebar-width;
  height: $playlist-height;
}

/* center */
.main-content {
  margin-left: $sidebar-width;
  margin-bottom: $playlist-height;
}

/* Search bar */
input[type="search"] {
  width: 80%;
  border: none;
  font-size: 10pt;
  padding-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.center {
  text-align: center;
}

/* sidebar top */
.sidebar-brand {
  color: white;
  font-style: bold;
  font-size: 20pt;
  padding: 10px;
}
.sidebar-brand > img {
  display: inline-block;
  width: 30%;
}


/* master player controls */
#sidebar_bottom {
  width: $sidebar-width;
}

youtube-player .video {
  text-align: center;
  padding: 10px;
  border: 1px solid gray;
  margin-right: 5px;
}

master-player .controls {
  padding: 10px;
  text-align: center;
} 
