<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar">
    <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
            <img src="../img/logo.png">
            <strong>Minstrel</strong>
        </li>
        <li class="center"><search-bar></search-bar></li>
    </ul>
    <ul id="sidebar_bottom" class="nav nav-sidebar">
        <li><youtube-player></youtube-player></li>
        <li><master-player></master-player></li>
    </ul>
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="playlist">
    <current-playlist></current-playlist>
</nav>

<div class="container main-content">
    <search-result></search-result>
</div>
